.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
    padding: 0.75rem 1rem;
    color: var(--color-neutral-0);
    background-color: var(--color-blue-600);
    border: 1px solid transparent;
	border-radius: 0.5rem;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: var(--color-blue-700);
        cursor: pointer;
    }

    &:disabled {
        background-color: var(--color-blue-700);
        cursor: not-allowed;
    }
}