.inputContainer {
    display: grid;
    justify-items: flex-start;
    gap: 0.5rem;
}

.input {
    display: grid;
    justify-items: flex-start;
    width: 100%;
    gap: 0.75rem;

    & input {
        padding: 0.75rem 1rem;
        border: 1px solid var(--color-neutral-300);
        border-radius: 0.625rem;
        background-color: var(--color-neutral-0);
        box-shadow: 0 1px 2px 0 rgba(33, 33, 77, 0.05);

        &.error {
            border: 1px solid var(--color-red-700);
        }

        &::placeholder {
            color: var(--color-neutral-600);
        }

        &:focus {
            outline: none;
        }
    }
}