/* -------------------- Accessibility -------------------- */
.sr-only:not(:focus):not(:active) {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	white-space: nowrap;
	clip-path: inset(50%);
}

/* -------------------- Grid -------------------- */
.grid-bleed {
	display: grid;
	grid-template-columns: 1fr calc(100% - 1.5rem * 2) 1fr;

	@media (min-width: 48rem) {
		grid-template-columns: 1fr min(100% - 5rem * 2, 70rem) 1fr;
	}

	& > * {
		grid-column: 2;
	}
}